In [7]:
# Import Dependencies
import pandas as pd

In [8]:
# Create reference to CSV file
csv_path = "Resources/Soccer2018Data.csv"

# Import the CSV into a pandas DataFrame
soccer_2018_df = pd.read_csv(csv_path, low_memory=False)
soccer_2018_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94,94,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93,93,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92,94,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,Uruguay,92,92,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92,92,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,A. Kelsey,17,England,46,63,Scunthorpe United,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,46,Wycombe Wanderers,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,J. Young,17,Scotland,46,61,Swindon Town,ST,44.0,28.0,29.0,...,31.0,28.0,38.0,29.0,45.0,42.0,45.0,44.0,32.0,45.0
17979,J. Lundstram,18,England,46,64,Crewe Alexandra,CM,45.0,46.0,47.0,...,47.0,46.0,45.0,47.0,43.0,45.0,41.0,44.0,46.0,41.0
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0

In [9]:
# Collect a list of all the unique values in "Preferred Position"
soccer_2018_df['Preferred Position'].value_counts()

CB     2705
ST     2277
GK     2029
CM     1977
CDM    1396
RM     1350
LM     1326
LB     1309
RB     1195
CAM    1125
RW      429
LW      427
CF      205
LWB     120
RWB     111
Name: Preferred Position, dtype: int64

In [11]:
# Looking only at strikers (ST) to start

only_st_df = soccer_2018_df['ST']
only_st_df

0        92.0
1        88.0
2        84.0
3        88.0
4         NaN
         ...
17976     NaN
17977     NaN
17978    45.0
17979    41.0
17980    31.0
Name: ST, Length: 17981, dtype: float64

In [19]:
# Sort the DataFrame by the values in the "ST" column to find the worst

new_value_df = soccer_2018_df.sort_values('ST')

new_value_df

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,38.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0
14637,L. Polvani,22,Italy,60,71,Empoli,CB,28.0,59.0,51.0,...,51.0,59.0,35.0,51.0,28.0,30.0,32.0,28.0,48.0,32.0
17727,S. O'Mahony,21,Republic of Ireland,51,59,Cork City,CB,29.0,50.0,43.0,...,45.0,50.0,33.0,43.0,29.0,31.0,32.0,29.0,43.0,32.0
17017,D. Jørgensen,26,Denmark,54,59,FC Helsingør,CDM,30.0,53.0,42.0,...,47.0,53.0,31.0,42.0,29.0,32.0,32.0,31.0,44.0,32.0
17150,J. McCombe,34,England,54,54,Lincoln City,CB,28.0,53.0,47.0,...,43.0,53.0,34.0,47.0,27.0,28.0,32.0,26.0,40.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17945,A. Dillon,20,Republic of Ireland,48,61,Blackburn Rovers,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17949,M. McElhinney,19,Republic of Ireland,48,60,Derry City,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17951,M. Hurst,21,Scotland,48,58,St. Johnstone FC,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17976,A. Kelsey,17,England,46,63,Scunthorpe United,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,B. Richardson,47,England,46,46,Wycombe Wanderers,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Reset the index so that the index is now based on the sorting locations

new_index = new_value.reset_index()
new_index

,index,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,17980,L. Sackey,18,Ghana,46,64,Scunthorpe United,ST,29.0,45.0,...,40.0,45.0,30.0,38.0,29.0,30.0,31.0,29.0,38.0,31.0
1,14637,L. Polvani,22,Italy,60,71,Empoli,CB,28.0,59.0,...,51.0,59.0,35.0,51.0,28.0,30.0,32.0,28.0,48.0,32.0
2,17727,S. O'Mahony,21,Republic of Ireland,51,59,Cork City,CB,29.0,50.0,...,45.0,50.0,33.0,43.0,29.0,31.0,32.0,29.0,43.0,32.0
3,17017,D. Jørgensen,26,Denmark,54,59,FC Helsingør,CDM,30.0,53.0,...,47.0,53.0,31.0,42.0,29.0,32.0,32.0,31.0,44.0,32.0
4,17150,J. McCombe,34,England,54,54,Lincoln City,CB,28.0,53.0,...,43.0,53.0,34.0,47.0,27.0,28.0,32.0,26.0,40.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17976,17945,A. Dillon,20,Republic of Ireland,48,61,Blackburn Rovers,GK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17977,17949,M. McElhinney,19,Republic of Ireland,48,60,Derry City,GK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,17951,M. Hurst,21,Scotland,48,58,St. Johnstone FC,GK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17979,17976,A. Kelsey,17,England,46,63,Scunthorpe United,GK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17980,17977,B. Richardson,47,England,46,46,Wycombe Wanderers,GK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# Save all of the information collected on the worst striker

worst_striker = new_index.iloc[0,]
worst_striker

index                             17980
Name                          L. Sackey
Age                                  18
Nationality                       Ghana
Overall                              46
Potential                            64
Club                  Scunthorpe United
Preferred Position                   ST
CAM                                  29
CB                                   45
CDM                                  38
CF                                   29
CM                                   30
LAM                                  29
LB                                   40
LCB                                  45
LCM                                  30
LDM                                  38
LF                                   29
LM                                   30
LS                                   31
LW                                   29
LWB                                  38
RAM                                  29
RB                                   40
RCB                                  45
RCM                                  30
RDM                                  38
RF                                   29
RM                                   30
RS                                   31
RW                                   29
RWB                                  38
ST                                   31
Name: 0, dtype: object