In [5]:
# Import Dependencies
import os
import pandas as pd

In [6]:
# Path and filename for the file to Load

csv_path = 'Resources/books_clean.csv'

# Read the modified GoodReads csv and store into Pandas DataFrame

file_df = pd.read_csv(csv_path)

file_df.head()

,ISBN,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [7]:
# Calculate the number of unique authors in the DataFrame

Total_Unique_Authors = file_df['Authors'].nunique()

In [8]:
# Calculate the earliest/latest year a book was published

min_df = file_df['Publication Year'].min()
min_df

-1750.0

In [9]:
max_df = file_df['Publication Year'].max()
max_df

2017.0

In [10]:
# Calculate the total reviews column that contains the sum of reviews (total - all authors)

file_df['Total Reviews'] = file_df[['One Star Reviews', 'Two Star Reviews', 'Three Star Reviews', 
                            'Four Star Reviews', 'Five Star Reviews']].sum(axis = 'columns')

file_df['Total Reviews']

# Hint: use the pandas' sum(axis='columns') to get the sum across the columns

0       4942365
1       4800065
2       3916824
3       3340896
4       2773745
         ...
9995      18856
9996      12952
9997      10733
9998      11994
9999       9700
Name: Total Reviews, Length: 10000, dtype: int64

In [11]:
# Create a `total_reviews` variable that sums up the values from your new `Total Reviews` column in the DataFrame

file_df.sum()

Publication Year                                            1.97783e+07
Authors               Suzanne CollinsJ.K. Rowling, Mary GrandPréStep...
One Star Reviews                                               13450406
Two Star Reviews                                               31108850
Three Star Reviews                                            114758938
Four Star Reviews                                             199656966
Five Star Reviews                                             237898056
Total Reviews                                                 596873216
dtype: object

In [15]:
summary_table = pd.DataFrame({"Total Unique Authors": [Total_Unique_Authors],
                              "Earliest Year": [min_df],
                              "Latest Year": [max_df],
                              "Total Reviews": [file_df]})
summary_table

,Total Unique Authors,Earliest Year,Latest Year,Total Reviews
0,4664,-1750.0,2017.0,ISBN Publication Year \ 0 4...